.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --primary-color: #4361ee;
  --secondary-color: #f8f9fa;
}

.homepage {
  display: flex;
}

.mg-1 {
  margin: 1rem;
}

.mg-no-left {
  margin-left: 0;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

a:visited {
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;

  margin: 1rem;
}

.nav-left {
  display: flex;
  justify-content: center;
}
.nav-right {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.steps-number {
  color: #adb5bd;
  margin-bottom: 0;
}
.steps-title {
  margin-top: 0;
}
